version: "3.9"

services:
  src:
    build:
      context: .
      dockerfile: src/Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"

  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    environment:
      API_URL: http://src:8000
    depends_on:
      - src
    ports:
      - "8501:8501"

